body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
:root {
	--lg-color: linear-gradient(to right, white, black);
}

#e {
	text-align: center;
	font-weight: 600;
	background-color: black;
	justify-content: center;
}
#f{
	color:white;
}
